<ion-view view-title="Inicio">
	<ion-content>

	  	<div class="item item-divider">
	    	Nuevos
	  	</div>

		<div class="row">
		  	<div class="col col-50">
				<div class="card">
				  	<div class="item item-image">
				    	<!-- <img src="img/la_calchona_400x400.jpg"> -->
				  	</div>
				  	<div class="item">
					    <h4>La Calchona</h4>
					</div>
				</div>
		  	</div>
		  	
		  	<div class="col col-50">
				<div class="card">
				  	<div class="item item-image">
				    	<!-- <img src="img/la_calchona_400x400.jpg"> -->
				  	</div>
				  	<div class="item">
					    <h4>Pretty Hate Machine</h4>
					</div>
				</div>
		  	</div>

		</div>

	  	<div class="item item-divider">
	    	Candy Bars
	  	</div>

		<div class="row">
		  	<div class="col col-50">
				<div class="card">
				  	<div class="item item-image">
				    	<!-- <img src="img/la_calchona_400x400.jpg"> -->
				  	</div>
				  	<div class="item">
					    <h4>Pretty Hate Machine</h4>
					</div>
				</div>
		  	</div>
		  	
		  	<div class="col col-50">
				<div class="card">
				  	<div class="item item-image">
				    	<!-- <img src="img/la_calchona_400x400.jpg"> -->
				  	</div>
				  	<div class="item">
					    <h4>Pretty Hate Machine</h4>
					</div>
				</div>
		  	</div>
		  	
		</div>

    </ion-content>
</ion-view>