<ion-view view-title="Cotizar">
	<ion-content>

		<!-- <div class="lista_productos">
			<div class="item_producto" ng-repeat="producto in productos">
				<div class="card" ng-click="{{ producto.next }}">
				  	<div class="item item-divider">
				    	{{ producto.nombre }}
				  	</div>
				  	<div class="item item-image">
				    	<img ng-src="img/{{ producto.imagen }}">
				  	</div>
				</div>
			</div>
		</div> -->

		<div class="wrapper">
		  	<div class="row">
		  		<div class="col col-50">
		  			<div class="card" ng-click="add_item_cotizacion(true, 1, 0, 0, 'eventmenu.cotizarNuevoLetrero')">
					  	<div class="item item-divider">
					    	Letrero
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/placeholder.png">
					  	</div>
					</div>
		  		</div>
				<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Paginas web
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/placeholder.png">
					  	</div>
					</div>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Papeleria
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/placeholder.png">
					  	</div>
					</div>
		  		</div>
		  		<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Programa
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/placeholder.png">
					  	</div>
					</div>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Branding
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/placeholder.png">
					  	</div>
					</div>
		  		</div>
		  		<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Campañas
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/placeholder.png">
					  	</div>
					</div>
		  		</div>
		  	</div>
		</div>

    </ion-content>
</ion-view>