<ion-view view-title="Cotizar">
	<ion-nav-buttons side="right">
      <button class="button" ng-click="doSomething()">
        <i class="icon ion-ios-paper"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>
		<div class="wrapper">
		  	<div class="row">
		  		<div class="col col-50">
		  			<div class="card" ng-click="add_item_cotizacion('eventmenu.cotizarNuevoLetrero')">
					  	<div class="item item-divider">
					    	Letrero
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/letrero.jpg">
					  	</div>
					 	<!-- <div class="item item-divider">
					    	I'm a Footer in a Card!
					  	</div> -->
					</div>
		  		</div>
				<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Paginas web
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/letrero.jpg">
					  	</div>
					 	<!-- <div class="item item-divider">
					    	I'm a Footer in a Card!
					  	</div> -->
					</div>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Papeleria
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/letrero.jpg">
					  	</div>
					 	<!-- <div class="item item-divider">
					    	I'm a Footer in a Card!
					  	</div> -->
					</div>
		  		</div>
		  		<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Programa
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/letrero.jpg">
					  	</div>
					 	<!-- <div class="item item-divider">
					    	I'm a Footer in a Card!
					  	</div> -->
					</div>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Branding
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/letrero.jpg">
					  	</div>
					 	<!-- <div class="item item-divider">
					    	I'm a Footer in a Card!
					  	</div> -->
					</div>
		  		</div>
		  		<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Campañas
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/letrero.jpg">
					  	</div>
					 	<!-- <div class="item item-divider">
					    	I'm a Footer in a Card!
					  	</div> -->
					</div>
		  		</div>
		  	</div>
		</div>

    </ion-content>
</ion-view>