<ion-view view-title="Cotizar">
	<ion-content>
		
		<div class="list">

			<a class="item item-icon-left" ui-sref="eventmenu.cotizarNuevo">
				<i class="icon ion-ios-albums"></i>
				Nuevo
			</a>

			<div class="item item-divider">
			    Enviar
			</div>

			<a class="item item-icon-left" ng-click="limpiar()">
				<i class="icon ion-ios-paper"></i>
				Productos ({{ total_productos }})
			</a>
			
			<a class="item item-icon-left" href="#">
				<i class="icon ion-email"></i>
				Correo
			</a>

			<div class="item item-divider">
			    Información
			</div>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-clock"></i>
				Historial
			</a>

		</div>

    </ion-content>
</ion-view>