<ion-view view-title="Enviar cotización">
	<ion-nav-buttons side="right">
      <button class="button" ng-click="doSomething()">
        <i class="icon ion-ios-paper"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>

		<div class="wrapper">
		  	<div class="row">
		  		<div class="col">
					
		  			<div class="list list-productos">
		  				<div class="item">
						    productos
						</div>
					    <div class="item item-thumbnail-left" ng-repeat="producto in productos">
					      <img src="img/placeholder.png">
					      <button class="button-eliminar-item" ng-click="eliminar({{ producto.pedido }})"><i class="ion ion-close-round"></i></button>
					      <h2>{{ producto.nombre }}</h2>
					      <p><span ng-repeat="item in producto.items">{{ item.nombre }}, </span></p>
					      <p class="valor-item">$150.000</p>
					    </div>
					    <div class="item">
					      	<strong>Valor aproximado</strong>
					      	<span class="item-note">
					      		<strong>${{  valor_total }}</strong>
					    	</span>
					    </div>
					</div>

		  		</div>
		  	</div>
		</div>

    </ion-content>
    <ion-footer-bar align-title="center" class="bar-tuciudad">
		<a class="title" ng-click="modal.show()">Enviar</a>
    </ion-footer-bar>
</ion-view>

<script id="formulario" type="text/ng-template">
  <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-tuciudad">
          <h1 class="title">Contacto cliente</h1>
          <button class="button button-clear" ng-click="modal.hide()">Cancelar</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
		    	<input type="text" placeholder="Nombre" ng-model="form.nombre">
		  	</label>
		  	<label class="item item-input">
		    	<input type="text" placeholder="Organización" ng-model="form.organizacion">
		  	</label>
		  	<label class="item item-input">
		    	<input type="text" placeholder="Correo" ng-model="form.correo">
		  	</label>
		  	<label class="item item-input">
		    	<input type="number" placeholder="telefono" ng-model="form.telefono">
		  	</label>
		  	<label class="item item-input">
		    	<textarea placeholder="Observación" rows="10" ng-model="form.observacion"></textarea>
		  	</label>
            <button class="button button-full button-tuciudad" ng-click="enviarCotizacion()">Enviar</button>
          </div>
        </ion-content>
      </ion-modal-view>
</script>