<ion-view view-title="Cotizar">
	<ion-nav-buttons side="right">
      <button class="button" ng-click="doSomething()">
        <i class="icon ion-ios-paper"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>
		<div class="wrapper">
		  	<div class="row">
		  		<div class="col ">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Información del producto
					  	</div>
					  	<div class="item item-text-wrap">

					  		<ul class="list" >
							    <li class="item" ng-repeat="item in informacion">{{ item.nombre }}</li>
							    <li class="item"><strong>Valor aproximado</strong>
							    	<span class="item-note">
								      	<strong>$100.000</strong>
								    </span>
							    </li>
							</ul>

					  	</div>
					  	<div class="item item-divider">
					    	<button class="button button-tuciudad" ng-click="finalizar(1)">Listo</button>
					    	<button class="button button-tuciudad" ng-click="finalizar(2)">Agregar otro</button>
					  	</div>
					</div>
		  		</div>
		  	</div>
		</div>

    </ion-content>
</ion-view>