<ion-view view-title="Cotizar">
	<ion-nav-buttons side="right">
      <button class="button" ng-click="doSomething()">
        <i class="icon ion-ios-paper"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>
		<div class="wrapper">
		  	<div class="row">
		  		<div class="col ">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Información del producto
					  	</div>
					  	<div class="item item-text-wrap">

					  		<ul class="list">
							    <li class="item">Letrero</li>
							    <li class="item">Backlight</li>
							    <li class="item">Con caja</li>
							    <li class="item">Con Luz</li>
							</ul>

					  	</div>
					  	<div class="item item-divider">
					    	<button class="button button-tuciudad">Enviar</button>
					    	<button class="button button-tuciudad">Agregar otro</button>
					  	</div>
					</div>
		  		</div>
		  	</div>
		</div>

    </ion-content>
</ion-view>