<ion-view view-title="Cotizar">
	<ion-nav-buttons side="right">
      <button class="button" ng-click="doSomething()">
        <i class="icon ion-ios-paper"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>
		<div class="wrapper">
		  	<div class="row">
		  		<div class="col ">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Información del producto
					  	</div>
					  	<div class="item item-text-wrap">

					  		<ul class="list" >
							    <li class="item" ng-repeat="item in informacion">{{ item.nombre }}</li>
							    <li class="item">
							    	<div class="info-extra">
							    		<div class="content-medidas" ng-if=" tipo == 1 ">
							    			<div class="input-medida">
							    				<input type="number" placeholder="Alto" ng-model="form.alto" ng-keyup="actualizar_total()">
							    			</div>
							    			<div class="input-medida">
							    				<input type="number" placeholder="Largo" ng-model="form.largo" ng-keyup="actualizar_total()">
							    			</div>
							    		</div>
							    		<div class="content-comentario">
							    			<textarea class="width_full" rows="7" placeholder="Observación" ng-model="form.comentario"></textarea>
							    		</div>
							    	</div>
							    </li>
							    <li class="item"><strong>Valor aproximado</strong>
							    	<span class="item-note">
								      	<strong>${{ total_producto }}</strong>
								    </span>
							    </li>
							</ul>

					  	</div>
					  	<div class="item item-divider">
					    	<button class="button button-tuciudad" ng-click="finalizar(1)">Listo</button>
					    	<button class="button button-tuciudad" ng-click="finalizar(2)">Agregar otro</button>
					  	</div>
					</div>
		  		</div>
		  	</div>
		</div>

    </ion-content>
</ion-view>