<ion-view view-title="Cotizar">
	<ion-nav-buttons side="right">
      <button class="button" ng-click="doSomething()">
        <i class="icon ion-ios-paper"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>
		<div class="wrapper">
		  	<div class="row">
		  		<div class="col col-50">
		  			<div class="card" ng-click="add_item_cotizacion(false, 1, 2, 4,'eventmenu.cotizarNuevoLetreroBacklightCajaLuz')">
					  	<div class="item item-divider">
					    	Con caja
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/placeholder.png">
					  	</div>
					</div>
		  		</div>
				<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Sin caja
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/placeholder.png">
					  	</div>
					</div>
		  		</div>
		  	</div>
		</div>

    </ion-content>
</ion-view>