<ion-view view-title="Cotizar">
	<!-- <ion-nav-buttons side="right">
      <button class="button" ng-click="doSomething()">
        <i class="icon ion-ios-paper"></i>
      </button>
    </ion-nav-buttons> -->
	<ion-content>
		<div class="wrapper">
		  	<div class="row">
		  		<div class="col col-50">
		  			<div class="card" ng-click="add_item_cotizacion(false, 1, 1, 1,'eventmenu.cotizarNuevoLetreroBacklightCaja')">
					  	<div class="item item-divider">
					    	Backlight
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/placeholder.png">
					  	</div>
					 	<!-- <div class="item item-divider">
					    	I'm a Footer in a Card!
					  	</div> -->
					</div>
		  		</div>
				<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Pendon
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/placeholder.png">
					  	</div>
					 	<!-- <div class="item item-divider">
					    	I'm a Footer in a Card!
					  	</div> -->
					</div>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col col-50">
		  			<div class="card">
					  	<div class="item item-divider">
					    	Acrilico
					  	</div>
					  	<div class="item item-image">
					    	<img src="img/placeholder.png">
					  	</div>
					 	<!-- <div class="item item-divider">
					    	I'm a Footer in a Card!
					  	</div> -->
					</div>
		  		</div>
		  	</div>
		</div>

    </ion-content>
</ion-view>